<form id="article-form" enctype="multipart/form-data">

	<label>
		Title<br>
		<input type="text" name="article[title]" value="<%= article.escape("title") %>">
	</label>

	<br><br>

	<label>
		Image<br>
		<input type="file" name="article[photo]" multiple onchange="handle_files(this.files)">
	</label>

	<br><br>

	<label>
		Body<br>
		<textarea name="article[body]" cols="70" rows="20"><%= article.escape("body") %></textarea>
	</label>


	<br><br>

  <input type="text" name="article[taglist]" placeholder="Add some tags" value="<%= article.escape("taglist") %>">
  
  <br><br>

<% if (article.escape("title").length === 0){ %>
  <input type="submit" value="Create Article">
<% } else { %>
  <input type="submit" value="Update Article">
<% } %>
</form>