<script>
function handle_files(files) {
  var file = files[0];
  var reader = new FileReader();
  reader.onload = function(e) {
  }
  reader.readAsDataURL(file);
}
</script>

<form id="article-form" enctype="multipart/form-data">

	<label>
		Title<br>
		<input type="text" name="article[title]">
	</label>

	<br><br>

	<label>
		Image<br>
		<input type="file" name="article[photo]" multiple onchange="handle_files(this.files)">
	</label>

	<br><br>

	<label>
		Body<br>
		<textarea name="article[body]" cols="70" rows="20"></textarea>
	</label>


	<br><br>

  <input type="text" name="article[taglist]" placeholder="Add some tags">
  
  <br><br>

  <input type="submit" value="Create Article">
</form>