<h2><%= user.escape("username") %></h2>
<h3><%= user.escape("email") %></h3>

<% if (user.get("id") === window.currentUserId){ %>
  <span class="new-article"><a href="#/articles/new">New article</a></span>
<% } %>