<div class='comment-box'>
	#{@article.comments.where(p_id: index+1).order(:created_at).reverse
 				   .map{ |comment| comment.author.username + ": " + comment.text }
			   .join("<br>")}
    	<form class='comment-form'
	action=\" #{article_comments_url(@article)} \" method='post'>
        	#{auth_token}
        	<input type='text' name='comment[text]'>
    		<input type='hidden' name='comment[p_id]' value='#{index+1}'>
        	<input type='submit' value='Add Comment'>
     </form>	
</div>