<p><%= paragraph %></p>

<div class='comment-button'>
	<i class='fa fa-comment'>
		<span class='comment-count'>
			0
		</span>
	</i>
</div>

	<div class='comment-box'>
		<form class='comment-form'>
	    	<input type='text' name='comment[text]'>
			<input type='hidden' name='comment[p_id]' value=1>
	    	<input type='submit' value='Add Comment'>
		 </form>
	</div>
 </div>