<h2><%= @user.username %></h2>
<h3><%= @user.email %></h3>

<% if @user == current_user %>
  <a href="<%= new_article_url %>">New article</a>
  <br><br>
<% end %>

<% content_for :sidebar do %>
  <ul>
    <% @user.articles.order(:created_at).reverse.each do |article| %>
        <%= render "articles/snippet", article: article, view: "author",
            el: @user.username %>
    <% end %>
  </ul>
<% end %>