<% if !flash.empty? %>
	<ul>
	<% flash.each do |key, value| %>
		<% value.each do |message| %>
		<% 
			next if message.include?("Password is too short") &&
			value.include?("Password can't be blank")
		%>
	
	    <li>
	      <span id="alert"><%= message %></span>
	    </li>
		
	    <% end %>
	<% end %>
	</ul>
<% end %>