<section class="tagbar">
<div id="filter-div">
  <span class="tagbar-header">Filters</span>
	<ul>
  	  <li>
        <!-- <a href="<%#=
          article_url(Article.all
          .sort_by{ |article| article.votecount }.reverse.first, view:                    "popular", el: nil) %>"> -->
		<a href="#/articles/popular">
          Popular
        </a>
      </li>
  	  <li>
        <!-- <a href="<%#=
          if signed_in?
            if current_user.favorites.count > 0
                article_url(current_user.favorites.first,
                            view: "favorite", el: nil)
              else
                static_pages_empty_url
              end
          else
            new_session_url
          end
          %>"> -->
		<a href="#/articles/favorites">
          Favorites
        </a>
      </li>
  	  <li>
        <!-- <a href="<%#= article_url(Article.last) %>"> -->
		<a href="#/articles/latest">
			Latest
		</a>
      </li>
	</ul>
</div>

<div id="tag-div">
  <span class="tagbar-header">Tags</span>
	<ul>
	  <% Tag.all.each do |tag| %>
	    <li>
        <!-- <a href=" <%#=
                    article_url(tag.articles.order(:created_at).reverse.first,
                    view: "tag", el: tag.name) %> "> -->
		<a href="<%= '#/tags/' + tag.name %>">
			<%= tag.name.capitalize %>
        </a>
      </li>
	  <% end %>
  	</ul>
</div>
</section>