<section class="tagbar">
<div id="filter-div">
  <span class="tagbar-header">Filters</span>
	<ul>
  	  <li>
		<a href="/#articles/popular">
          Popular
        </a>
      </li>
  	  <li>
		<a href="/#articles/favorites">
          Favorites
        </a>
      </li>
  	  <li>
		<a href="/#articles/latest">
			Latest
		</a>
      </li>
	</ul>
</div>

<div id="tag-div">
  <span class="tagbar-header">Tags</span>
	<ul>
	  <li><a href="/#tags/tech">Tech</a></li>
	  <li><a href="/#tags/google">Google</a></li>
	  <li><a href="/#tags/mobile">Mobile</a></li>
	  <li><a href="/#tags/computing">Computing</a></li>
	  <li><a href="/#tags/lifehack">Lifehack</a></li>
	  <li><a href="/#tags/science">Science</a></li>
	  <li><a href="/#tags/humor">Humor</a></li>
  	</ul>
	<i id="tagbar-search-icon" class="fa fa-search"></i>
	<form id="tag-search-form">
	 <input id="tag-search-bar" name="query" placeholder="Find by tag" type="text">
	</form>
</div>
</section>