<% if action == "sign_up" %>
	<form class="sign" action="<%= users_url %>" method="post">
<% else %>
	<form class="sign" action="<%= session_url %>" method="post">
<% end %>

<%= auth_token %>  

<label>
	Username<br>
	<input type="text" name="user[username]">
</label>

<br><br>

<% if action == "sign_up" %>
	<label>
		Email<br>
		<input type="text" name="user[email]">
	</label>

	<br><br>
<% end %>

<label>
	Password<br>
	<input type="password" name="user[password]">
</label>

<br><br>

<% if action == "sign_up" %>
  <input type="submit" value="Sign Up">
<% else %>
  <input type="submit" value="Sign In">
<% end %>
</form>
<br><br><br>
<a class="twitter-link" href="/auth/facebook"><%= image_tag("fb-login.png") %></a>