<% if action == "sign_up" %>
	<form class="sign" action="<%= users_url %>" method="post">
<% else %>
	<form class="sign" action="<%= session_url %>" method="post">
<% end %>

<%= auth_token %>  

<label>
	Username
</label>
	<input type="text" name="user[username]">

<% if action == "sign_up" %>
	<label>
		Email
	</label>
		<input type="text" name="user[email]">
<% end %>

<label>
	Password
</label>
	<input type="password" name="user[password]">

<% if action == "sign_up" %>
  <input type="submit" value="Sign Up">
<% else %>
  <input type="submit" value="Sign In">
<% end %>
</form>
<br>
<a class="twitter-link" href="/auth/facebook"><%= image_tag("fb-login.png") %></a>