$select-color: #168dd9;
$fly-blue: #168dd9;

/* global */
html, body, header, main, footer, nav, a, ul, li, section, p, small {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}

button{
	outline: 0;
}

label{
	display: block;
	padding-bottom: 5px;
}

input, textarea{
	display: block;
	margin-bottom: 20px;
}

input[type="submit"]{
  outline: 0;
}

h1{
	margin-top: 0;
}

h2{
	font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-size: 26px;
	margin-bottom: 5px;
}

h4{
	margin-top: 0;
	color: rgb(141,141,141);
	opacity: 0.8;
	font-size: 14px;
}

p{ 
	padding-bottom: 15px; 
  font-family: "PT Serif",Georgia,serif;
	font-size: 17px;
	color: rgb(64,64,64);
	line-height: 150%;
}

.highlight {
	background-color: #fff2a8;
	border-radius: 5px;
	padding: 5px;
}

.small{
	font-size: 10px;
	vertical-align: middle;
}

a{ text-decoration: none; }

textarea{ resize: none; }

/* asteroids */
canvas{
//  background:url('background.jpg');
	position: absolute;
	z-index: -1;
}
.hide{
  position:absolute;
  top:-500px;
}

/* navbar */

nav {
	background: black;
  list-style: none;
}

nav button{
	background:transparent;
  border:none; 
  border: 0;
	padding: 10px;
	margin: 0;
	width: 100%;
	text-align: left;
	font-family: sans-serif;
	font-size: 13px;
	color: white;
	display: block;
	cursor: pointer;
}

nav > .logo > a{
	color: white;
	font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
	font-size: 25px;
	padding: 10px;
	float: left;
}

nav > .welcome{
	float: left;
	padding: 15px;
	color: white;
	font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
	font-size: 15px;
}

nav > ul{
	text-align: right;
	list-style: none;
	float: right;
}

nav > ul > li{
	position: relative;
	float: left;
	padding: 15px;
	color: white;
	cursor: pointer;
}

nav .badge{
  display: inline;
  position: absolute;
  font-family: sans-serif;
  background: $select-color;
  margin-left: 5px;
  
  margin-top: -19px;
  padding: 2px 5px;
  border-radius: 15px;
  font-size: 12px;
}

nav .search-bar {
	display: none;
	position: absolute;
  outline: none;
  padding: 3px 0px 3px 3px;
  border: 1px solid #DDDDDD;
	top: 11px;
	left: -190px;
	font-size: 11px;
	width: 200px;
	border-radius: 2px;
}
 
nav .search-bar:focus {
  box-shadow: 0 0 5px $select-color;
  border: 1px solid $select-color;
}

.group:after{
	content: "";
	display: block;
	clear: both;
}

.menu-bar, .notifications{
	display: none;
	position: absolute;
	right: 0px;
	top: 49px;
	border: 5px solid rgb(140,140,140);
	width: 120px;
	list-style: none;
	background-color: black;
  z-index: 9999;
}

.notifications{
  width: 200px;
	right: -15px;
}

.notifications ul{
  max-height: 250px;
  overflow: auto;
}

.notifications > ul > li:hover, .menu-bar > li:hover{
	background-color: $select-color;
}

.notifications > ul > li.unread{
  background: $fly-blue;
}

.notifications a, .menu-bar a{
	font-family: sans-serif;
	font-size: 13px;
	color: white;
	display: block;
	text-align: left;
	padding: 10px;
	cursor: pointer;
}

.notifications li, .menu-bar li{
	border-top: 1px solid rgb(140,140,140);
}

.notifications > ul > li:first-child, .menu-bar > li:first-child{
	border-top: 0;
}

.notifications:after, .menu-bar:after {
  content: "";
  display: block;

  width: 0;
  height: 0;
  background: transparent;

  border-bottom: 10px solid rgb(140,140,140);
  border-top: 0 solid rgb(140,140,140);

  border-left: 10px solid transparent;
  border-right: 10px solid transparent;

  position: absolute;
  top: -15px;

  left: 83%;
  margin-left: -10px;
}

/* search results */
.search-results{
	display: block;
	list-style: none;
}

.search-results > li{
	margin-bottom: 10px;
}

/* tagbar */
.tagbar{
  background: rgb(57,57,57);
  position: absolute;
  top: 49px;
  bottom: 0px;
  width: 100%;
	font-family: "Lato", Arial, Helvetica, sans-serif;
	font-size: 13px;
}

.tagbar.hidden > #filter-div, .tagbar.hidden > #tag-div{
	display: none;
}

.tagbar.hidden > #now-reading, .tagbar.hidden > #now-reading-tag{
	display: block;
}

.tagbar a{
	color: white;
}

.tagbar a:hover{
	color: $fly-blue;
}

.tagbar div{
	float: left;
	padding: 10px;
	padding-top: 4px;
}

.tagbar div:first-child{
	width: 240px;
}

.tagbar ul{
	margin-top: 4px;
	padding-top: 8px;
	list-style: none;
	border-top: 1px solid rgb(127,127,127);
}

.tagbar li{
	float: left;
	padding-right: 10px;
	padding-bottom: 10px;
}

.tagbar .tagbar-header{
	color: rgb(127,127,127);
	padding-bottom: 5px;
}

.tagbar #tag-div{
	position: relative;
}

#tagbar-search-icon{
	position: absolute;
	top: 6px;
	left: 45px;
	color: white;
}

#tagbar-search-icon:hover{
	color: $fly-blue;
}

#tag-search-bar{
	margin: 0;
	position: absolute;
	top: 4px;
	left: 65px;
	background: transparent;
	outline: 0;
	border: 1px solid rgb(127,127,127);
	padding: 1px;
	color: white;
	display: none;
}

.tagbar #expand{
	cursor: pointer;
	font-size: 20px;
	color: $fly-blue;
	float: left;
	margin: 10px;
}

.tagbar #now-reading{
	display: none;
	float: left;
	color: white;
	margin: 11px 7px;
}

.tagbar #now-reading-tag{
	display: none;
	float: left;
	color: $fly-blue;
	margin: 11px 0px;
	font-weight: lighter;
}

/* article form */
#article-form input[type="file"]{
	outline: none;
}

#article-form input[type=text], #article-form textarea {
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  border: 1px solid #DDDDDD;
}
 
#article-form input[type=text]:focus, #article-form textarea:focus {
  box-shadow: 0 0 5px #2ecc71;
  border: 1px solid #2ecc71;
}

#article-form input[type="text"]{
	font-size: 20px;
}

#article-form textarea{
	font-size: 15px;
}

#article-form input.error, #article-form textarea.error{
	border: 1px solid #e74c3c;
	box-shadow: 0 0 5px #e74c3c;
}

#article-form input.error:focus, #article-form textarea.error:focus{
	border: 1px solid #e74c3c;
	box-shadow: 0 0 5px #e74c3c;
}

#article-form input[type="submit"]{
	  position: relative;
	  display: inline-block;
		border: 0px;
		margin-bottom: 25px;
	  padding: 10px 20px;
	  background: #0c0;
	  color: white;
	  box-shadow: 0 3px 0 0 #070;
	  border-radius: 3px;
	  font-weight: bold;
		font-size: 15px;
	}

#article-form input[type="submit"]:hover{
  background: #0b0;
}

#article-form input[type="submit"]:active{
  top: 3px;
  box-shadow: none;
  background: #0a0;
}

#article-form label > i{
	padding-right: 6px;
	color: #27ae60;
}

#article-form .text-control i{
	padding: 10px;
}

#article-form .text-control i:hover{
	color: #27ae60;
	background: #ecf0f1;
	cursor: pointer;
}

/* full page modal */
.modal {
  display: none;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  min-height: 200px;
  padding: 30px;
  margin-left: -180px;
  margin-top: -130px;
  background: white;
  font-family: sans-serif;

  z-index: 1000;
}

.modal-content.errors input[type='text'],.modal-content.errors input[type='password'] {
	border: 1px solid #e74c3c;
	box-shadow: 0 0 5px #e74c3c;
}

.modal-content.errors input[type='text']:focus,.modal-content.errors input[type='password']:focus {
	border: 1px solid #e74c3c;
	box-shadow: 0 0 5px #e74c3c;
}


.modal-x {
  display: block;
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  color: #999;
}

.modal-x:hover {
  color: #000;
}

.modal-screen {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  width: 100%;
  height: 100%;
  z-index: 999;
}

/* previews */
#title-preview{
	font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-size: 26px;
	display: none;
	background: #ecf0f1;
	margin-bottom: 10px;
	padding: 5px;
}

#body-preview{
	display: none;
	background: #ecf0f1;
	margin-bottom: 5px;
	padding: 5px;
}

#body-preview p:last-child{
	padding-bottom: 0px;
}

#body-preview ul{
	padding: 5px; 
  font-family: "PT Serif",Georgia,serif;
	font-size: 17px;
	color: rgb(64,64,64);
	line-height: 150%;
	list-style-position: inside;
}

#body-preview ul > li{
  margin: 0px;
  padding: 0px;
  text-indent: -1em;
  margin-left: 1em;
}


#image-preview{
	margin-bottom: 10px;
	display: none;
}
	
/* main */
.main{
  background: white;
  position: absolute;
  top: 125px;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 1px solid rgb(229,229,229);
}

.main.expanded{
	top: 90px;
}

.page, #page-modal{
  background: white;
  position: absolute;
  top: 0;
  left: 250px;
  right: 0;
  height: 100%;
  overflow: auto;
	-webkit-overflow-scrolling: touch;
  font-family: sans-serif;
  border-left: 1px solid rgb(229,229,229);
}

#page-modal{
  background: #95a5a6;
  border: 0;
	opacity: 0;
	pointer-events: none;
}

/* alerts */
#alert{
	color: red;
	font-weight: bold;
	display: block;
	margin-bottom: 15px;
}

#alerts{
	position: absolute;
	top: 40%;
	left: 40%;
	list-style: none;
}

#alerts > li{
	background: #ff3019; /* Old browsers */
	background: -moz-linear-gradient(top, #ff3019 0%, #cf0404 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3019), color-stop(100%,#cf0404)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ff3019 0%,#cf0404 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ff3019 0%,#cf0404 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ff3019 0%,#cf0404 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ff3019 0%,#cf0404 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */
	
	color: white;
	padding: 15px;
	margin: 5px;
	border-radius: 5px;
}
/* alerts */

#scroll-modal{
	background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
  position: absolute;
  bottom: 0;
  left: 250px;
  right: 0;
  height: 150px;
	opacity: 0;
	pointer-events: none;
}

#content{
  padding: 30px;
}

.article-show-container{
	padding-top: 10px;
}

.article-show-container:first-child{
	padding-top: 0px;
}

.page h2{
  margin-top: 0;
}

#body-text{
  padding-right: 190px;
}

#body-text p{
  position: relative;
}

#body-text ol, #body-preview ol{
	padding-bottom: 15px; 
	font-family: "PT Serif",Georgia,serif;
	font-size: 17px;
	color: rgb(64,64,64);
	line-height: 150%;
}

#body-text div{
	position: relative;
}

#body-text .comment-form input, #body-text .comment-form textarea{
	outline: 0;
	border: 0;
	margin-bottom: 0;
}

#body-text .comment-form input[type="text"], #body-text .comment-form textarea{
	font-size: 12px;
	width: 100%;
}

#body-text .comment-form input[type="submit"]{
  position: relative;
  display: inline-block;
	border: 0px;
	background: #0c0;
  color: white;
  box-shadow: 0 3px 0 0 #070;
  border-radius: 3px;
	font-size: 10px;
	margin-top: 5px;
	width: 100%;
}

#body-text .comment-form input[type="submit"]:hover{
  background: #0b0;
}

#body-text .comment-form input[type="submit"]:active{
  top: 3px;
  box-shadow: none;
  background: #0a0;
}

#body-text .comment-button{
  background: green;
  position: absolute;
  top: 0;
  right: -40px;
  width: 25px;
  height: 25px;
  border-radius: 2px;
  opacity: 0.5;
	-moz-box-shadow: 0 0 1px #888;
	-webkit-box-shadow: 0 0 1px#888;
	box-shadow: 0 0 1px #888;
}

#body-text .comment-button:hover{
  opacity: 1.0;
  background: green;
}

#body-text .comment-button .fa{
	position: relative;
  padding-left: 5px;
  padding-top: 4px;
  color: white;	
}

#body-text .comment-box{
	display: none;
  background: #27ae60;
  position: absolute;
  top: 0;
  right: -209px;
  width: 140px;
  max-height: 200px;
  border-radius: 2px;
	overflow: auto;
	color: white;
	font-size: 13px;
	padding: 10px;
	-moz-box-shadow: 0 0 1px #888;
	-webkit-box-shadow: 0 0 1px#888;
	box-shadow: 0 0 1px #888;
}

#body-text .comment-count{
	position: absolute;
	margin-left: 5px;
	top: 7px;
	color: black;
	font-size: 10px;
}

#body-text ul{
	padding: 5px; 
  font-family: "PT Serif",Georgia,serif;
	font-size: 17px;
	color: rgb(64,64,64);
	line-height: 150%;
	list-style-position: inside;
}

#body-text ul > li{
  margin: 0px;
  padding: 0px;
  text-indent: -1em;
  margin-left: 1em;
}

.taglist{
	padding-bottom: 15px;
}

.taglist a{
	background: #ecf0f1;
	padding: 5px;
	margin: 5px;
	color: black;
	-moz-box-shadow: 0 0 1px #888;
	-webkit-box-shadow: 0 0 1px#888;
	box-shadow: 0 0 1px #888;
}

.taglist a:hover{
	color: #27ae60;
}

.favorite-button, .disabled-favorite-button{
  display: inline-block;
	border: 0px;
	margin-bottom: 25px;
  padding: 10px 20px;
  background: #0c0;
  color: white;
  box-shadow: 0 3px 0 0 #070;
  border-radius: 3px;
  font-weight: bold;
	font-size: 15px;
	outline: 0;
}

.favorite-button:hover{
  background: #0b0;
}

.favorite-button:active {
	bottom: -103px;
  box-shadow: none;
  background: #0a0;
}

.disabled-favorite-button{
  background: #95a5a6;
  color: #ecf0f1;
  box-shadow: 0 3px 0 0 #7f8c8d;
  border-radius: 3px;
  font-weight: bold;
	font-size: 15px;
	opacity: 0.5;
}

/* sign in, sign out */
input[value="Sign In"], input[value="Sign Up"], #sign-in-button{
  position: relative;
  display: inline-block;
	border: 0px;
	margin-bottom: 10px;
  padding: 10px 20px;
  background: #2980b9;
  color: white;
  box-shadow: 0 3px 0 0 #2c3e50;
  border-radius: 3px;
  font-weight: bold;
	font-size: 15px;
}

input[value="Sign In"]:hover, input[value="Sign Up"]:hover, #sign-in-button:hover{
  background: #3498db;
}

input[value="Sign In"]:active, input[value="Sign Up"]:active, #sign-in-button:active {
  top: 3px;
  box-shadow: none;
  background: #2980b9;
}

form.sign input[type=text], form.sign input[type=password] {
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  border: 1px solid #DDDDDD;
	font-size: 20px;
}
 
form.sign input[type=text]:focus, form.sign input[type=password]:focus {
  box-shadow: 0 0 5px $fly-blue;
  border: 1px solid $fly-blue;
}

/* user show */
.new-article a{
	color: white;
  padding: 10px 20px;
	font-size: 15px;
  font-weight: bold;
}

.new-article{
  position: relative;
	display: inline-block;
	border: 0px;
	margin-bottom: 30px;
	padding: 10px 0px;
  background: #2980b9;
  color: white;
  box-shadow: 0 3px 0 0 #2c3e50;
  border-radius: 3px;
}

.new-article:hover{
  background: #3498db;
}

.new-article:active {
  top: 3px;
  box-shadow: none;
  background: #2980b9;
}


/* sidebar */
.sidebar{
  background: rgb(248,248,248);
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  overflow: auto;
  font-family: sans-serif;
  box-shadow: inset -10px 0 5px -5px hsla(0,0,0,.1);
}

.sidebar a{
	font-family: "PT Serif", Georgia, serif;
	font-size: 15px;
	color: rgb(94,94,94);
}

.sidebar > ul > li{
  padding: 15px;
  border-bottom: 1px solid rgb(229,229,229);
}

.sidebar > ul > li:hover{
  background: rgb(252,252,252);
  box-shadow: inset -10px 0 5px -5px hsla(0,0,0,.1);
}

.sidebar .delete-button{
	background: none;
	border: none;
	padding: 0;
	margin: 0;
	color: black;
	font-family: sans-serif;
	font-size: 13px;
	cursor: pointer;
	display: inline;
}

.sidebar form{
	display: inline;
}

.sidebar .edit-link{
	color: black;
	font-family: sans-serif;
	font-size: 13px;
	display: inline;
}

.snippet-footer{
  font-style: italic;
  font-size: 13px;
  color: rgb(178,178,178);
	padding-bottom: 5px;
}

.fa-thumbs-o-up{
  margin-left: 5px;
}

/* mobile */
@media (max-width: 400px) {
	/* main */
	section.sidebar{
		display: none;
	}
	
	section.page{
	  left: 0px;
		overflow-x: hidden;
	}
	
	section.page img{
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
	}
	
	#body-text{
		padding-right: 30px;
	}
	
	#scroll-modal, #page-modal{
		left: 0px;
	}
	
	.main{
		top: 154px;
	}
	
	.modal-content {
	  position: absolute;
		top: 10%;
		left: 5%;
	  width: 70%;
	  height: 70%;
	  margin-left: 0px;
	  margin-top: 0px;
	}
	
	/* navbar */
	
	.tagbar ul{
		margin: 0px;
		padding-top: 3px;
	}
	
	.tagbar ul > li{
		padding: 0px;
		padding-right: 7px;
	}
	
	#filter-div{
		padding-bottom: 3px;
	}
	
	#tag-div{
		margin-left: 38px;
	}
	
	input.search-bar{
	  font-size: 16px;
		top: 8px;
	}
	
	div.welcome, .twitter-li, .facebook-li{
		display: none;
	}
	
	/* body text */
	#body-text .comment-box{
		right: -5px;
	}
	
	/* dashboard */
	#text-editor{
		width: 230px;
	}
	
	
}