/* global */
html, body, header, main, footer, nav, a, ul, li, section, p, small {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}

input[type="submit"]{
  outline: 0;
}

h1{
	margin-top: 0;
}

h2{
	margin-bottom: 5px;
}

h4{
	margin-top: 0;
	color: rgb(141,141,141);
	opacity: 0.8;
	font-size: 14px;
}

p{ 
	padding-bottom: 15px; 
  font-family: 'Rosario', sans-serif;
	font-size: 18px;
	color: rgb(64,64,64);
	line-height: 150%;
}

a{ text-decoration: none; }

textarea{ resize: none; }

$select-color: #e74c3c;
$fly-blue: rgb(22,141,217);

/* navbar */

nav {
	background: black;
  list-style: none;
}

nav button{
	background:transparent;
  border:none; 
  border: 0;
	padding: 10px;
	margin: 0;
	width: 100%;
	text-align: left;
	font-family: sans-serif;
	font-size: 13px;
	color: white;
	display: block;
	cursor: pointer;
}

nav > .logo > a{
	color: white;
	font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
	font-size: 25px;
	padding: 10px;
	float: left;
}

nav > .welcome{
	float: left;
	padding: 15px;
	color: white;
	font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
	font-size: 15px;
}

nav > ul{
	text-align: right;
	list-style: none;
	float: right;
}

nav > ul > li{
	position: relative;
	float: left;
	padding: 15px;
	color: white;
	cursor: pointer;
}

nav .badge{
  display: inline;
  position: absolute;
  font-family: sans-serif;
  background: $select-color;
  margin-left: 5px;
  
  margin-top: -19px;
  padding: 2px 5px;
  border-radius: 15px;
  font-size: 12px;
}

nav .search-bar {
	display: none;
	position: absolute;
  outline: none;
  padding: 3px 0px 3px 3px;
  border: 1px solid #DDDDDD;
	top: 11px;
	left: -190px;
	font-size: 11px;
	width: 200px;
	border-radius: 2px;
}
 
nav .search-bar:focus {
  box-shadow: 0 0 5px $select-color;
  border: 1px solid $select-color;
}


.group:after{
	content: "";
	display: block;
	clear: both;
}

.menu-bar, .notifications{
	display: none;
	position: absolute;
	right: 0px;
	top: 49px;
	border: 5px solid rgb(140,140,140);
	width: 120px;
	list-style: none;
	background-color: black;
  z-index: 9999;
}

.notifications{
  width: 200px;
	right: -15px;
}

.notifications ul{
  max-height: 250px;
  overflow: auto;
}

.notifications > ul > li:hover, .menu-bar > li:hover{
	background-color: $select-color;
}

.notifications > ul > li.unread{
  background: $fly-blue;
}

.notifications a, .menu-bar a{
	font-family: sans-serif;
	font-size: 13px;
	color: white;
	display: block;
	text-align: left;
	padding: 10px;
	cursor: pointer;
}

.notifications li, .menu-bar li{
	border-top: 1px solid rgb(140,140,140);
}

.notifications > ul > li:first-child, .menu-bar > li:first-child{
	border-top: 0;
}

.notifications:after, .menu-bar:after {
  content: "";
  display: block;

  width: 0;
  height: 0;
  background: transparent;

  border-bottom: 10px solid rgb(140,140,140);
  border-top: 0 solid rgb(140,140,140);

  border-left: 10px solid transparent;
  border-right: 10px solid transparent;

  position: absolute;
  top: -15px;

  left: 83%;
  margin-left: -10px;
}

/* tagbar */
.tagbar{
  background: rgb(57,57,57);
  position: absolute;
  top: 49px;
  bottom: 0px;
  width: 100%;
	font-family: "Lato", Arial, Helvetica, sans-serif;
	font-size: 13px;
}

.tagbar a{
	color: white;
}

.tagbar a:hover{
	color: $fly-blue;
}

.tagbar div{
	float: left;
	padding: 10px;
	padding-top: 4px;
}

.tagbar div:first-child{
	width: 240px;
}

.tagbar ul{
	margin-top: 4px;
	padding-top: 8px;
	list-style: none;
	border-top: 1px solid rgb(127,127,127);
}

.tagbar li{
	float: left;
	padding-right: 10px;
	padding-bottom: 10px;
}

.tagbar .tagbar-header{
	color: rgb(127,127,127);
	padding-bottom: 5px;
}

/* alerts */
#alerts{
	padding-top: 5px;
	padding-left: 30px;
	list-style: none;
}

#alerts > li{
	color: red;
	padding-top: 5px;
}

/* article form */
#article-form input[type="file"]{
	outline: none;
}

#article-form input[type=text], #article-form textarea {
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  border: 1px solid #DDDDDD;
}
 
#article-form input[type=text]:focus, #article-form textarea:focus {
  box-shadow: 0 0 5px #2ecc71;
  border: 1px solid #2ecc71;
}

#article-form input[type="text"]{
	font-size: 20px;
}

#article-form textarea{
	font-size: 15px;
}

#article-form input[type="submit"]{
	  position: relative;
	  display: inline-block;
		border: 0px;
		margin-bottom: 25px;
	  padding: 10px 20px;
	  background: #0c0;
	  color: white;
	  box-shadow: 0 3px 0 0 #070;
	  border-radius: 3px;
	  font-weight: bold;
		font-size: 15px;
	}

#article-form input[type="submit"]:hover{
  background: #0b0;
}

#article-form input[type="submit"]:active{
  top: 3px;
  box-shadow: none;
  background: #0a0;
}
	
/* main */
.main{
  background: white;
  position: absolute;
  top: 135px;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 1px solid rgb(229,229,229);
}

.page{
  background: white;
  position: absolute;
  top: 0;
  left: 250px;
  right: 0;
  height: 100%;
  overflow: auto;
  font-family: sans-serif;
  border-left: 1px solid rgb(229,229,229);
}

#content{
  padding: 30px;
}

.page h2{
  margin-top: 0;
}

#body-text{
  padding-right: 190px;
}

#body-text p{
  position: relative;
}

#body-text div{
	position: relative;
}

#body-text .comment-form input{
	outline: 0;
	border: 0;
}

#body-text .comment-form input[type="text"]{
	font-size: 15px;
	width: 100%;
}

#body-text .comment-form input[type="submit"]{
  position: relative;
  display: inline-block;
	border: 0px;
	background: #0c0;
  color: white;
  box-shadow: 0 3px 0 0 #070;
  border-radius: 3px;
	font-size: 10px;
	margin-top: 5px;
	width: 100%;
}

#body-text .comment-form input[type="submit"]:hover{
  background: #0b0;
}


#body-text .comment-form input[type="submit"]:active{
  top: 3px;
  box-shadow: none;
  background: #0a0;
}

#body-text .comment-button{
  background: green;
  position: absolute;
  top: 0;
  right: -40px;
  width: 25px;
  height: 25px;
  border-radius: 2px;
  opacity: 0.5;
	-moz-box-shadow: 0 0 1px #888;
	-webkit-box-shadow: 0 0 1px#888;
	box-shadow: 0 0 1px #888;
}

#body-text .comment-button:hover{
  opacity: 1.0;
  background: green;
}

#body-text .comment-button .fa{
	position: relative;
  padding-left: 5px;
  padding-top: 4px;
  color: white;	
}

#body-text .comment-box{
	display: none;
  background: #27ae60;
  position: absolute;
  top: 0;
  right: -209px;
  width: 140px;
  max-height: 200px;
  border-radius: 2px;
	overflow: auto;
	color: white;
	font-size: 13px;
	padding: 10px;
	-moz-box-shadow: 0 0 1px #888;
	-webkit-box-shadow: 0 0 1px#888;
	box-shadow: 0 0 1px #888;
}

#body-text .comment-count{
	position: absolute;
	margin-left: 5px;
	top: 7px;
	color: black;
	font-size: 10px;
}

.favorite-button{
  position: relative;
  display: inline-block;
	border: 0px;
	margin-bottom: 25px;
  padding: 10px 20px;
  background: #0c0;
  color: white;
  box-shadow: 0 3px 0 0 #070;
  border-radius: 3px;
  font-weight: bold;
	font-size: 15px;
}

.favorite-button:hover{
  background: #0b0;
}

.favorite-button:active {
  top: 3px;
  box-shadow: none;
  background: #0a0;
}

.disabled-favorite-button{
  position: relative;
  display: inline-block;
	border: 0px;
	margin-bottom: 25px;
  padding: 10px 20px;
  background: #95a5a6;
  color: #ecf0f1;
  box-shadow: 0 3px 0 0 #7f8c8d;
  border-radius: 3px;
  font-weight: bold;
	font-size: 15px;
	opacity: 0.5;
}

input[value="Sign In"], input[value="Sign Up"]{
  position: relative;
  display: inline-block;
	border: 0px;
	margin-bottom: 10px;
  padding: 10px 20px;
  background: #2980b9;
  color: white;
  box-shadow: 0 3px 0 0 #2c3e50;
  border-radius: 3px;
  font-weight: bold;
	font-size: 15px;
}

input[value="Sign In"]:hover, input[value="Sign Up"]:hover{
  background: #3498db;
}

input[value="Sign In"]:active, input[value="Sign Up"]:active {
  top: 3px;
  box-shadow: none;
  background: #2980b9;
}

form.sign input[type=text], form.sign input[type=password] {
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  border: 1px solid #DDDDDD;
	font-size: 20px;
}
 
form.sign input[type=text]:focus, form.sign input[type=password]:focus {
  box-shadow: 0 0 5px $fly-blue;
  border: 1px solid $fly-blue;
}

a .tag{
	padding-right: 5px;
}

/* sidebar */
.sidebar{
  background: rgb(248,248,248);
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  overflow: auto;
  font-family: sans-serif;
}

.sidebar > ul > li{
  padding: 15px;
  border-bottom: 1px solid rgb(229,229,229);
}

.sidebar > ul > li:hover{
  background: rgb(252,252,252);
}

.sidebar .delete-button{
	background: none;
	border: none;
	padding: 0;
	color: black;
	font-family: sans-serif;
	font-size: 13px;
	cursor: pointer;
	display: inline;
}

.sidebar form{
	display: inline;
}

.sidebar .edit-link{
	color: black;
	font-family: sans-serif;
	font-size: 13px;
	display: inline;
}

.snippet-footer{
  font-style: italic;
  font-size: 13px;
  color: rgb(178,178,178);
	padding-bottom: 10px;
}

.fa-thumbs-o-up{
  margin-left: 5px;
}